<div class="feedback item feedback-replace">
    <table class="title">
        <td>
            <table class="outer-wrapper">
                <td class="outer icon">
                </td>
            </table>
        </td>
        <td>
            <div class="contact">{{name}}</div>
        </td>
        <td>
            <div class="line"></div>
        </td>
    </table>
    <table class="feedback-item address">
        <td class="lbl">
            <label for="address">address</label>
        </td>
        <td class="inp">
            <input type="text" name="address" id="address" value="Main Street, City.">
        </td>
    </table>

    <table class="feedback-item email">
        <td>
            <label for="email">e-mail</label>
        </td>
        <td>
            <input type="email" name="email" id="email" value="contact@domain.com">
        </td>
    </table>

    <table class="feedback-item phone">
        <td>
            <label for="phone">phone</label>
        </td>
        <td>
            <input type="tel" name="phone" id="phone" value="555-555-555">
        </td>
    </table>

    <table class="feedback-item url">
        <td>
            <label for="url">website</label>
        </td>
        <td>
            <input type="url" name="url" id="url" value="www.yourweb.com">
        </td>
    </table>
</div>