<div class="header">
    <table class="outer-wrapper">
        <td class="outer icon">
        </td>
    </table>

    <span class="name">{{name}}</span><br>
    <span class="surname">{{surname}}</span><br>
    <span class="profession">{{profession}}</span>
</div>