<div class="skills item skills-replace">
    <table class="title">
        <td>
            <table class="outer-wrapper">
                <td class="outer icon">
                </td>
            </table>
        </td>
        <td>
            <div class="skills">{{name}}</div>
        </td>
        <td>
            <div class="line"></div>
        </td>
    </table>

    <div class="creative">
        <div class="quality">creative</div>
    </div>
    <div class="indicators-container">
        <table class="circle-indicators">
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
        </table>

        <div class="teamwork">
            <div class="quality">teamwork</div>
        </div>

        <table class="circle-indicators">
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
        </table>

        <div class="innovate">
            <div class="quality">innovate</div>
        </div>

        <table class="circle-indicators">
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
        </table>

        <div class="communication">
            <div class="quality">communication</div>
        </div>

        <table class="circle-indicators">
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item active"><div></div></td>
            <td class="circle-insicator-item"><div></div></td>
        </table>
    </div>

</div>