<div class="experience item  experience-replace">
    <table class="title">
        <td>
            <table class="outer-wrapper">
                <td class="outer icon">
                </td>
            </table>
        </td>
        <td>
            <div class="experience">{{name}}</div>
        </td>
        <td>
            <div class="line"></div>
        </td>
    </table>
    <ul class="list">
        <li class="list-item">
            <span class="list-item-title list-experience-item-title">company name</span>
            <span class="period">//Feb 2011 - jun 2014</span><br>
            <span class="list-item-subtitle">your job here</span>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum socils natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies, pellentesque.
            </p>
        </li>

        <li class="list-item">
            <span class="list-item-title list-experience-item-title">company name</span>
            <span class="period">//Feb 2011 - jun 2014</span><br>
            <span class="list-item-subtitle">your job here</span>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum socils natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies, pellentesque.
            </p>
        </li>

        <li class="list-item">
            <span class="list-item-title list-experience-item-title">company name</span>
            <span class="period">//Feb 2011 - jun 2014</span><br>
            <span class="list-item-subtitle">your job here</span>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum socils natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies, pellentesque.
            </p>
        </li>
    </ul>
</div>